<!--[if IE 8]>
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
<![endif]-->
<!--[if gt IE 8]><!-->
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
<!--<![endif]-->

//- script(src='/node_modules/owl.carousel/dist/owl.carousel.min.js')

script(src='/desktop.bundle.js')
