extends ./layouts/default.jade

block content
    h3 My Article
    include ../blocks/slider/index.jade

    .pics

    a.content-entry__play.jsModalVideoShow(data-src='https://www.youtube.com/embed/ZybsVyPsV_g', data-views='120 просмотров') Посмотреть видео